<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    {% comment %} Favicon {% endcomment %}
    {%- if settings.favicon_id != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon_id | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {% comment %}
      {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
        <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {%- endunless -%}
    {% endcomment %}

    <title>
      {% comment %}
        {{ page_title }}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
      {% endcomment %}
    </title>

    {% comment %}
      {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
      {% endif %}
    {% endcomment %}

    {{ content_for_header }}

    {% comment %}
      {%- liquid
        assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
        assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
        assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
      %}
    {% endcomment %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {% comment %} Adding font using style tag {% endcomment %}
    <style>
      {{ settings.font_picker_heading | font_face }}
      {{ settings.font_picker_body | font_face }}

      a, p, ul, ol, li, button, span {
        font-family: {{ settings.font_picker_body.family }}, {{ settings.font_picker_body.fallback_families }};
      }

      h1, h2, h3, h4, h5, h6 {
        font-family: {{ settings.font_picker_heading.family }}, {{ settings.font_picker_heading.fallback_families }};
      }
    </style>
  </head>

  <body>
    <main style="background: {{  }}" id="MainContent" class="" role="main" tabindex="-1">
      {% sections 'header-group' %}       
      {{ content_for_layout }}
      {% sections 'footer-group' %}
    </main>
  </body>
</html>
