<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {% comment %}
      {%- if settings.favicon != blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
      {%- endif -%}
    {% endcomment %}

    {% comment %}
      {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
        <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {%- endunless -%}
    {% endcomment %}

    <title>
      {% comment %}
        {{ page_title }}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
      {% endcomment %}
    </title>

    {% comment %}
      {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
      {% endif %}
    {% endcomment %}

    {{ content_for_header }}

    {% comment %}
      {%- liquid
        assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
        assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
        assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
      %}
    {% endcomment %}

    {% comment %} {{ 'base.css' | asset_url | stylesheet_tag }} {% endcomment %}
  </head>

  <body>
    <main id="MainContent" class="" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
  </body>
</html>
