<section style="background:{{ section.settings.color_scheme_background_announcement_id.settings.color_background_announcement_bar_id }}; color: {{ section.settings.color_scheme_background_announcement_id.settings.color_announcement_bar_id }}" class="w-full h-fit {{ section.settings.select_announcement_desktop_id }}">
  <div class="container mx-auto">
    <!-- Left side container-->
    <div class="w-full whitespace-nowrap overflow-hidden">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when "announcement" -%}
            <p class="announcement inline-block w-full mx-auto text-center {{ section.settings.select_size_text_annoucement_id }}">
                {{ block.settings.inline_richtext_annoucement_block_id }}
            </p>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</section>
<script src="{{ 'announcement_bar.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Annoucement bar",
  "class": "announcement_bar_section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Choose Announcement Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_background_announcement_id",
      "label": "Background Annoucement",
      "default": "scheme_1",
    },
    {
      "type": "select",
      "id": "select_size_text_annoucement_id",
      "label": "Text size",
      "options": [
        {
          "value": "text-xs",
          "label": "Extra small"
        },
        {
          "value": "text-sm",
          "label": "Small"
        },
        {
          "value": "text-base",
          "label": "base"
        }
      ],
      "default": "text-sm"
    },
    {
      "type": "select",
      "id": "select_announcement_desktop_id",
      "label": "Desktop Padding",
      "options": [
        {
          "value": "py-1",
          "label": "4px"
        },
        {
          "value": "py-2",
          "label": "8px"
        },
        {
          "value": "p-3",
          "label": "12px",
        },
        {
          "value": "py-4",
          "label": "16px"
        },
        {
          "value": "py-5",
          "label": "20px"
        },
        {
          "value": "py-6",
          "label": "28px"
        }
      ],
      "default": "py-1"
    }
  ],
  "blocks": [
    {
      "name": "Announcement",
      "type": "announcement",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "inline_richtext_annoucement_block_id",
          "label": "Announcement",
          "default": "Welcome to our fashion store"
        }
      ]
    }
  ],
  "presets": [{ "name": "Announcement bar" }]
}
{% endschema %}
