<section class="w-full h-fit py-5 lg:py-10">
    <div class="container mx-auto flex flex-col gap-4">
        <h2 class="w-full text-start text-2xl font-semibold">
           {{ section.settings.featured_collection_title }}
        </h2>
    </div>
</section>
<section class="w-full h-fit py-5 lg:py-10">
    <div class="flex overflow-x-auto hide-scrollbar h-[300px] xl:h-[400px]">
        {%- if section.settings.featured_collection_collection_list != blank -%}
            {%- for collection in section.settings.featured_collection_collection_list -%}
                <a href="{{ collection.url }}" class="w-72 h-72 xl:w-96 xl:h-96 mx-auto shadow flex justify-center items-center flex-col gap-4 mr-4">
                    <div class="w-64 h-72 xl:w-80 xl:h-80">
                        <img class="object-contain object-center w-full h-full" src="{{ collection.featured_image | image_url }}">
                    </div>
                    <div class="flex justify-center items-center gap-2">
                        <p>{{ collection.title }}</p>
                        <span>{%- render "arrow-right-2" -%}</span>
                    </div>
                </a>
            {%- endfor -%}
            {%- else -%}
            {%- for productBlock in (1..10) -%}
                <a href="" class="w-72 h-72 xl:w-96 xl:h-96 mx-auto border flex justify-center items-center flex-col gap-4 mr-4">
                    <div class="w-64 h-72 xl:w-80 xl:h-80">
                    <img class="object-cover object-center w-full h-full" src="{{ 'collection-2.svg' | asset_url }}">
                    </div>
                    <div class="flex justify-center items-center gap-2">
                        <p>Bras</p>
                        <span>{%- render "arrow-right-2" -%}</span>
                    </div>
                </a>
            {%- endfor -%}
        {%- endif -%}
    </div>
</section>
{% schema %}
{
    "name": "Featured collection",
    "class": "featured_collection",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "limit": 1,
    "settings": [
        {
            "type": "text",
            "id": "featured_collection_title",
            "label": "Title",
            "default":"Feactured collection",
            "placeholder": "Enter your title here"
        },
        {
            "type": "collection_list",
            "id": "featured_collection_collection_list",
            "label": "Choose your collections",
            "limit": 20
        }
    ],
    "blocks": [],
    "presets": [
        {
            "name": "Featured collection"
        }
    ]
}
{% endschema %}