<section class="w-full h-fit">
    <div class="container mx-auto">
         {%- if collection.all_tags.size > 0 -%}
            <div class="w-full flex justify-start items-center gap-2 overflow-x-scroll whitespace-nowrap">
                {%- for tag in collection.all_tags -%}
                    <span class="block border rounded-full py-2 px-4 uppercase text-xs">
                        {{ tag }}
                    </span>
                {%- endfor -%}
            </div>
        {%- endif -%}
    </div>
</section>
{% render 'line-separator' %}
<section class="w-full h-hit py-5 lg:py-10">
    <div class="container mx-auto">
        {% comment %} Filter selection {% endcomment %}
            <div class="min-w-[128px] flex justify-between items-center mx-4">
                 {%- for filter in collection.filters -%}
                <div class="md:flex md:justify-center md:items-center md:gap-4">
                    <div class="flex gap-2 md:hidden">
                        <span class="block text-xs font-light">Filter</span>
                        {%- render "arrow-down" -%}
                    </div>
                    <div class="hidden gap-2 md:flex">
                        <span class="block text-xs font-light">{{ filter.label }}</span>
                    {%- render "arrow-down" -%}
                    </div>
                </div>
            {%- endfor -%}
                {% comment %} Sort by {% endcomment %}
                <div class="flex justify-center items-center gap-2">
                    <div>
                        <span class="text-xs font-light">Sort by:</span>
                        <select id="sort-by" class="text-xs font-light">
                            {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                            {%- for option in collection.sort_options -%}
                                <option class="py-2 px-4" value="{{- option.val -}}" {%- if option.value == sort_by -%}selected="selected"{%- endif -%}>
                                    {{ option.name }}
                                </option>
                            {%- endfor -%}
                        </select>
                    </div>
                    <div>
                        <span class="text-xs font-light">50 items</span>
                    </div>
                </div>
            </div>
       
        {% comment %} End Filter selection {% endcomment %}
        {% comment %} Filter card {% endcomment %}
        <div class="bg-gray-100 hidden fixed top-0 left-0 right-0 bottom-0 z-50  flex-col justify-start items-center gap-4 w-full py-10">
            <div class="w-[280px] sm:w-[600px] mx-auto border shadow-2xl py-6 px-4">
                <div class="flex justify-between items-center mb-4 w-full">
                    <h5 class="text-2xl font-semibold">Filters</h5>
                    <h6 class="text-xs font-light hover:underline"s>Clear All</h6>
                </div>
                <div class="w-full mb-4">
                    <div class="">
                        <div class="flex justify-between items-center mb-2">
                            <h5 class="text-xl font-semibold">Style</h5>
                            <span class="block">{%- render "arrow-down" -%}</span>
                        </div>
                        <div class="">
                            <input type="checkbox">
                            <span class="text-xs font-lights">Swim</span>
                        </div>
                    </div>
                </div>
                <div class="w-full mb-4">
                    <span class="text-base font-semibold">50 items</span>
                    <button class="py-2 px-4 border text-sm bg-red-900 text-white">Appli</button>
                </div>
            </div>   
        </div>
        {% comment %} End Filter card {% endcomment %}
        {% comment %} Product Grid {% endcomment %}
        <div class="w-full my-5 grid grid-cols-2 gap-2 md:grid-cols-3 md:gap-4 lg:grid-cols-4">
            {%- for product in collection.products -%}
                <a href="{{ product.url }}" class="w-full shadow">
                    <div class="min-w-[144px] min-h-[186xpx] mb-2">
                        <img class="w-full h-full object-contain object-center" src="{{ product.featured_image | image_url }}">
                    </div>
                    <div class="h-fit w-full flex flex-col justify-center items-start gap-4">
                        <h3 class="text-base font-semibold mx-2">{{ product.title }}</h3>
                        <h6 class="text-xs font-light mx-2">{{ product.price | money }}</h6>
                        <div class="mx-2">
                            <span class="bg-red-600 w-4 h-4 block rounded-full"></span>
                        </div>
                    </div>
                </a>
            {%- endfor -%}
        </div>
        {% comment %}End Product Grid {% endcomment %}
    </div>
</section>
{% comment %} <script>
  Shopify.queryParams = {};

  // Preserve existing query parameters
  if (location.search.length) {
    var params = location.search.substr(1).split('&');

    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');

      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }

  // Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function(e) {
    var value = e.target.value;

    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
</script> {% endcomment %}

 {%- for filter in collection.filters -%}
    {{ filter.label }}
 {%- endfor -%}